body, #wpbody, .form-table .pre {color:#333333;}
#login {margin: 0 auto 0;width:350px;}
form{background:none repeat scroll 0 0 #E5E5E5!important;}
body, #wpbody, .form-table .pre {color:#333333;}
#login {margin: 0 auto 0;width:350px;}
form{background:none repeat scroll 0 0 #E5E5E5!important;}
.login h1 a{
	background:none;
	text-align:center;
	font-family: Georgia, "Bitstream Charter", serif;
	font-size: 30px;
	line-height: 67px;
	text-decoration: none;
	display:block;
	padding-bottom:15px;
	text-indent:0px; 
	width: 600px;
	margin: 0 0 0 -125px;
}
